/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.editorconfig
app/Http/Middleware/CheckForMaintenanceMode.php
app/Http/Middleware/TrustProxies.php
config/hashing.php
config/logging.php
database/factories/UserFactory.php
resources/assets/js/components/ExampleComponent.vue
resources/views/welcome.blade.php
composer.lock
composer.lock
composer.lock
composer.lock
